name: Docker images verification
# This workflow is triggered on pushes and pull requests to the repository.
on: [push, pull_request]


jobs:
  build:
    # This job runs on Linux
    runs-on: ubuntu-latest

    steps:
       - uses: actions/checkout@v1
       - name: Login to GitHub Container Registry
         uses: docker/login-action@v1
         with:
           registry: ghcr.io
           username: ${{ github.actor }}
           password: ${{ secrets.GITHUB_TOKEN }}
       - uses: ./.github/actions/docker-images-verification
         with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITGUB_PAT }}
          registry: ghcr.io
